
<div>
  <h2>Welcome to our wonderful web site!</h2>
  <div>&nbsp;</div>
</div>

<div>
  <h2>Which error would you like to see?</h2>

  <%= form_tag get_info_path do %>
      <div><b>Select a magic number!</b></div>
      <div><%= text_field_tag('magic_number', nil, placeholder: 'Enter any number') %></div>

      <div>&nbsp;</div>
      <div><%= submit_tag 'Roll the dice!' %></div>
  <% end %>
</div>

<div>
  <h2>What did we get from the server!?!?</h2>
  <div>&nbsp;</div>
  <div>
    We got <%= @info %>
  </div>
</div>